<h1>Stupid Coaching</h1>

<p>Your question: <%= @answer %></p>
<p>Your coach's response: <%= @response %></p>

<%= link_to "Ask a new question", ask_path %>

<!-- <blockquote>
  <p>
    <% if @question.blank? %>
      😶
    <% else %>
      <%= @question %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>
 -->
